<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Login</h1>
    <form action="#" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="u" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="p" required>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    {% if messages %}
    <ul>
        {% for msg in messages %}
        <li>{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}