<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
<div class="container" style="">
<div class="row">
    <h5 class="text-center">Name of the customer::{{u}}</h5>
    {% for i in s %}
    <div class="col-sm-3" style="border:2px solid green">
        <img src="{{i.product.image.url}}" height="150px" width="150px"></center>
    </div>
    <div class="col-sm-7 text-center" style=" ">
        Delivery Address:{{i.address}}</br>
        phone Number:{{i.phone}}</br>
        {{i.product.name}}</br>
        {{i.product.price}}<br>
        Quantity Ordered:{{i.noofitems}}</br>
        subtotal:{{i.subtotal}}</br>
        <strong class="text-primary">Ordered on {{i.date_added}}</strong><br>
        <strong class="text-success">Delivery status :{{i.delivery_status}}</strong>

    </div>

    </div>
    {% endfor %}


</div>>
{% endblock %}